.customer-form {
    min-width: 150px;
    width: 100%;
}
  
.customer-full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}
.add-button {
    color: white;
    background-color: #04d018;
}
.cancel-button {
    color: white;
    background-color: #ff393c;
}
.role-item {
    padding-bottom: 10px;
}